<div class="lord__content">
  <strong>{{lord.name}}</strong>
  <dl class="lord__regions">
    <se-lord-region-element class="lord__region-element" seed="s"
                            [quantity]="game.regions$ | async | seCount: 's':lord"></se-lord-region-element>
    <se-lord-region-element class="lord__region-element" seed="c"
                            [quantity]="lord.treasure"></se-lord-region-element>
    <se-lord-region-element class="lord__region-element" seed="g"
                            [quantity]="game.regions$ | async | seWorth: lord"></se-lord-region-element>
    <se-lord-region-element class="lord__region-element" seed="d" [style.--lordColor]="lord.color"
                            [quantity]="game.regions$ | async | seDebt: lord"></se-lord-region-element>
  </dl>
</div>
