<div class="modal-container" id="new-modal">
  <aside class="modal  modal--new">
    <header class="modal__header">
      <a href="#" class="button  button--small">
        <se-cell class="cell  cel--icon" seed="e"></se-cell>
      </a>
      <se-logo class="modal__title"></se-logo>
    </header>
    <div class="modal__container">
      <article>
        <p>Choose a world:</p>
        <div class="worlds">
          <a class="worlds__card" href="#" (click)="game.newGame(gameSmall())">
            <em class="worlds__title">Small (8x8)</em>
            <se-world-preview [seGrid]="dimension(world3)" [world]="world3" class="worlds__preview"></se-world-preview>
          </a>
          <a class="worlds__card" href="#" (click)="game.newGame(gameMedium())">
            <em class="worlds__title">Medium (12x12)</em>
            <se-world-preview [seGrid]="dimension(world2)" [world]="world2" class="worlds__preview"></se-world-preview>
          </a>
          <a class="worlds__card" href="#" (click)="game.newGame(gameLarge())">
            <em class="worlds__title">Large (16x16)</em>
            <se-world-preview [seGrid]="dimension(world1)" [world]="world1" class="worlds__preview"></se-world-preview>
          </a>
        </div>
      </article>
    </div>
  </aside>
</div>
