<se-modal name="new">
  <p>Choose a world:</p>
  <div class="worlds">
    <a class="worlds__card" href="#" (click)="game.newGame(gameSmall())">
      <em class="worlds__title">Small<br/>(10x10)</em>
      <se-world-preview [seGrid]="dimension(world3)" [world]="world3" class="worlds__preview"></se-world-preview>
    </a>
    <a class="worlds__card" href="#" (click)="game.newGame(gameMedium())">
      <em class="worlds__title">Medium<br/>(12x12)</em>
      <se-world-preview [seGrid]="dimension(world2)" [world]="world2" class="worlds__preview"></se-world-preview>
    </a>
    <a class="worlds__card" href="#" (click)="game.newGame(gameLarge())">
      <em class="worlds__title">Large<br/>(16x16)</em>
      <se-world-preview [seGrid]="dimension(world1)" [world]="world1" class="worlds__preview"></se-world-preview>
    </a>
  </div>
</se-modal>
