<div>
  <a class="button  button--default" href="#new" (click)="clicked()">
       <span class="button__content">
        <se-cell seed="n" class="cell  cell--icon"></se-cell>
        <span>New</span>
      </span>
  </a>
  <a class="button  button--default" href="#help" (click)="clicked()">
    <span class="button__content">
      <se-cell seed="q" class="cell  cell--icon"></se-cell>
      <span>Help</span>
    </span>
  </a>
  <a class="button  button--default" href="#about" (click)="clicked()">
    <span class="button__content">
      <se-cell seed="i" class="cell  cell--icon"></se-cell>
      <span>About</span></span>
  </a>
</div>
