<div class="lord-statistics  lord-statistics--{{side}}">
  <strong>{{lord.name}}</strong>
  <dl class="lord-statistics__data">
    <se-lord-statistics-element class="lord-statistics__element" seed="s"
                                [quantity]="lord.settlements()"></se-lord-statistics-element>
    <se-lord-statistics-element class="lord-statistics__element" seed="c"
                                [quantity]="lord.treasure"></se-lord-statistics-element>
    <se-lord-statistics-element class="lord-statistics__element" seed="g"
                                [quantity]="lord.worth()"></se-lord-statistics-element>
    <se-lord-statistics-element class="lord-statistics__element  {{lord.id}}" seed="d"
                                [quantity]="lord.debt()"></se-lord-statistics-element>
  </dl>
</div>
