<div class="modal-container" id="about-modal">
  <aside class="about__modal">
    <header class="help__header">
      <a href="#" class="button  button--small">
        <se-cell class="cell  cel--icon" seed="e"></se-cell>
      </a>
      <se-logo class="help_title"></se-logo>
    </header>
    <div class="help__container">
    <article>
      <p>I am a personal project. I was made with <span style="color: darkred">&hearts;</span> by <a href="https://github.com/acarrara">acarrara</a>.
      Find him also on <a href="https://twitter.com/likethemarble">Twitter</a>.</p>
      <p>Find my code on <a href="https://github.com/acarrara/sedl">github</a>.
        I am deployed with <a href="https://www.netlify.com/">Netlify</a>.</p>
      <p>You pronounce SEDL! as <em>settle</em>. Shame on my Creator.</p>
    </article>
    </div>
  </aside>
</div>
