<div class="modal-container" id="about-modal">
  <aside class="modal  modal--about">
    <header class="modal__header">
      <a href="#" class="button  button--small">
        <se-cell class="cell  cel--icon" seed="e"></se-cell>
      </a>
      <se-logo class="modal__title"></se-logo>
    </header>
    <div class="modal__container">
    <article>
      <p>I am a personal project. <a href="https://github.com/acarrara">acarrara</a> mantains me with <span style="color: darkred">&hearts;</span>.
      Find him also on <a href="https://twitter.com/likethemarble">Twitter</a>.</p>
      <p>My code is on <a href="https://github.com/acarrara/sedl">github</a>.
        I am deployed with <a href="https://www.netlify.com/">Netlify</a>.</p>
      <p>You pronounce SEDL! as <em>settle</em>. Shame on my Creator.</p>
    </article>
    </div>
  </aside>
</div>
