<div class="modal-container" id="about-modal">
  <aside class="about__modal">
    <header class="help__header">
      <a href="#" class="button  button--small">
        <se-cell class="cell  cel--icon" seed="e"></se-cell>
      </a>
      <se-logo class="help_title"></se-logo>
    </header>
    <article style="padding: 16px;">
      <p>Made with <span style="color: darkred">&hearts;</span> by <a href="">acarrara</a>.</p>
      <p>Code repository is <a href="">here</a>.</p>
      <p>Deployed by <a href="">Netlify</a>.</p>
    </article>
  </aside>
</div>
