<se-modal size="s" name="win"  [style.--lord-hue]="winner.color">
  <div class="win__element">
    <se-cell class="cell  win__icon  {{winner.id}}" seed="a"></se-cell>
  </div>
  <div class="win__element">
    <p>Lord <em>{{winner.name}}</em> won the game!</p>
  </div>
  <div class="win__element">
    <a class="button  button--default" href="#new-modal">
           <span class="button__content">
            <se-cell seed="n" class="cell  cell--icon"></se-cell>
            <span>New</span>
          </span>
    </a>
  </div>
</se-modal>
