<div class="region-statistics">
  <span class="region-statistics__element  region-statistics--fill" style="display: flex; justify-content: flex-end"
        *ngIf="region">
    <span class="region-statistics__text">
        <span *ngIf="region?.impregnable">impregnable</span>
        <span *ngIf="!region?.impregnable && region?.sustenance">fortified</span>
      {{getLabel()}}</span>
    </span>
  <span class="region-statistics__element" *ngIf="region">
    <se-cell class="cell  cell--statistics" [seed]="region.type"></se-cell>
  </span>
  <span class="region-statistics__element" *ngIf="region">
      <se-cell class="cell  cell--statistics" seed="g"></se-cell>
      <span>{{region.worth()}}</span>
    </span>
  <span class="region-statistics__element  region-statistics--fill" *ngIf="region">
      <span class="region-statistics__text">{{canRun() ? 'You can' : 'You can\'t'}} {{getAction().name()| lowercase}}</span>
      <se-cell *ngIf="canRun()" class="cell  cell--statistics" seed="c"></se-cell>
      <span *ngIf="canRun()">{{getAction().cost(region)}}</span>
    </span>
</div>
