<se-modal size="l" name="create" [overflow]="false">
  <div class="create">
    <div class="create__selected" [seCurrentLordColor]="gameService.lord$ | async">
      <span>{{game.name}}</span>
      <span>{{size}}x{{size}}</span>
      <se-cell class="cell  cell--icon" [seed]="seed"></se-cell>
      <se-cell class="cell  cell--icon" [seed]="brushType"></se-cell>
      <button class="button  button--default  button--small" (click)="toggleCollapsed()">
        <se-cell class="cell  cell--icon" seed="edit"></se-cell>
      </button>
    </div>
    <div class="create__container" [seCurrentLordColor]="gameService.lord$ | async">
      <aside class="create__header" [attr.data-collapsed]="collapsed">
        <div class="create__tools">
          <div class="create__tool">
            <label for="nameInput" class="create__tool-title">
              <span>Name</span>
            </label>
            <input id="nameInput" class="create__input  create__input--name" #nameInput (input)="onNameInput()"
                   maxlength="16"
                   [defaultValue]="game.name"/>
          </div>
          <div class="create__tool">
            <label for="sizeInput" class="create__tool-title">
              <span>Size</span>
            </label>
            <select id="sizeInput" class="create__input  create__input--size" name="size" #sizeInput
                    (input)="onSizeInput()">
              <option *ngFor="let value of [8, 10, 12, 14, 16, 18, 20]"
                      [attr.selected]="value === size ? '' : null">{{value}}</option>
            </select>
          </div>
        </div>
        <div class="create__tools">
          <div class="create__tool">
            <span class="create__tool-title">Terrain</span>
            <ng-container *ngFor="let type of ['p','f','h','m','w', 'l']">
              <input [checked]="type === 'p'" type="radio" name="seed"
                     (click)="currentSeed(type)" id="seed-{{type}}" class="create__tool-option">
              <label for="seed-{{type}}" class="button  button--small  button--default">
                <se-cell class="cell  cell--statistics" [seed]="type"></se-cell>
              </label>
            </ng-container>
          </div>
          <div class="create__tool">
            <span class="create__tool-title">Brush</span>
            <input checked type="radio" name="size" (click)="brushType = 'single'" id="brush-1"
                   class="create__tool-option">
            <label for="brush-1" class="button  button--small  button--default">
          <span class="button__content">
            <se-cell class="cell  cell--statistics" seed="single"></se-cell>
          </span>
            </label>
            <input type="radio" name="size" (click)="brushType = 'cross'" id="brush-3" class="create__tool-option">
            <label for="brush-3" class="button  button--small  button--default">
          <span class="button__content">
            <se-cell class="cell  cell--statistics" seed="cross"></se-cell>
          </span>
            </label>
          </div>
        </div>
        <div class="create__tools">
          <div class="create__tool  create__buttons">
            <button class="button  button--default" (click)="reset()">
          <span class="button__content">
            <se-cell seed="reset" class="cell  cell--icon"></se-cell>
            <span>Reset</span>
          </span>
            </button>
            <button class="button  button--default" (click)="save()" [disabled]="!game.isPlayable()">
          <span class="button__content">
            <se-cell seed="save" class="cell  cell--icon"></se-cell>
            <span>Save</span>
          </span>
            </button>
            <button class="button  button--default" (click)="startCreatedGame()" [disabled]="!game.isPlayable()">
          <span class="button__content">
            <se-cell seed="start" class="cell  cell--icon"></se-cell>
            <span>Start</span>
          </span>
            </button>
          </div>
        </div>
      </aside>
    </div>
    <div class="board" [seGrid]="size" sePinchAndZoom style="max-width: 100%">
      <se-cell [seRegion]="region"
               (tap)="onTap(i)"
               (press)="onPress(i)"
               (mouseenter)="onEnter(i, $event)"
               (contextmenu)="$event.preventDefault()"
               class="cell  cell--interactive" *ngFor="let region of game.board.regions; let i = index"
               [seed]="region.type"></se-cell>
    </div>
  </div>
</se-modal>
