<div class="wrapper" (document:keydown.space)="game.pass()">
  <se-header class="header" [style.--lordColor]="(game.lord$ | async).color"></se-header>
  <div class="board-container">
    <main class="board" [seGrid]="game.dimension()">
      <se-cell [seRegion]="region"
               [sustenance]="game.sustenanceAt(i)"
               [color]="game.lordAt(i).color"
               [i]="i"
               (mousedown)="startInteraction(i)"
               (mouseup)="stopInteraction(i)"
               (mousemove)="resetInteraction()"
               (touchmove)="resetInteraction()"
               (touchstart)="startInteraction(i); $event.preventDefault()"
               (touchend)="stopInteraction(i); $event.preventDefault()"
               (mouseenter)="actionEnter(i, $event)"
               class="cell" *ngFor="let region of game.board.regions; let i = index" [seed]="game.world()[i]"></se-cell>
    </main>
  </div>
</div>
<div class="availableAction">{{availableAction}}</div>
