.background {
  @include full-screen();
  position: fixed;

  background-color: $background-color;

  z-index: $z-index-bottom;

  display: flex;
  flex-wrap: wrap;

  opacity: 0.25;

  & > * {
    width: 25%;
  }

}
