.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background-color: $background-color;
  z-index: -1;

  display: flex;
  flex-wrap: wrap;

  opacity: 0.3;

  & > * {
    width: 25%;
  }

}
