$board-size: 36em;

.board-container {
  @include flex-center();

  flex-grow: 1;

  position: relative;
  overflow: hidden;
}

.board {
  background-color: $primary-color-background;
  display: grid;
  grid-template-rows: repeat(var(--grid-dimension, 8), 1fr);
  grid-template-columns: repeat(var(--grid-dimension, 8), 1fr);
  width: $board-size;

  @include standard-shadow();

  padding: $spacing-m;

  z-index: 100;
}

.wrapper {
  display: flex;
  flex-direction: column;

  @include full-screen();

  overflow: hidden;
}
