.button {
  @include font-family-fira();
  display: inline-block;
  font-size: 1em;
  border: $border-color solid $spacing-s;
  border-radius: $spacing-s;
  padding: $spacing-s $spacing-xl;
  box-shadow: 0 1px 2px 0 $shadow-color;

  text-decoration: none;

  cursor: pointer;

  @include transition-fast();
  background-color: $primary-color-background;

  &:hover {
    background-color: darken($primary-color-background, 10%);
  }

  &:active {
    background-color: darken($primary-color-background, 20%);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 $spacing-s $spacing-s darken($primary-color-background, 40%);
  }

  &[disabled] {
    background-color: $text-color-disabled;
    color: $background-color-disabled;

    cursor: not-allowed;
  }
}

.button--primary {

  border: $spacing-s solid var(--lord-color, $primary-color-background);
}

.button + .button {
  margin-left: $spacing-l;
}

.button__content {
  @include flex-center();

  * + * {
    padding-left: $spacing-s;
  }
}

@media only screen and (max-width: 1024px) {

  .button {
    margin: 0;
    width: 100%;
    border-radius: 0;
    flex-basis: initial;
  }

  .button + .button {
    margin-left: 0;
  }
}
