.button {
  @include font-family-fira();
  display: inline-block;

  font-size: 1em;
  line-height: 1.15;

  border: none;
  border-radius: $spacing-s;

  padding: $spacing-s $spacing-l;

  text-decoration: none;

  cursor: pointer;

  @include transition-fast();
  @include small-shadow();

  @include lord-color();
  background-color: var(--lord-color);

  &:hover, &[disabled] {
    @include lord-color("hover");
    background-color: var(--lord-color-hover);
  }

  &:active {
    @include lord-color("active");
    background-color: var(--lord-color-active);
  }

  &:focus {
    --saturation-delta-focus: 25%;
    --lightness-delta-focus: 35%;

    outline: 0;

    @include lord-color("focus");
    box-shadow: 0 0 0 $spacing-s var(--lord-color-focus);

  }

  &[disabled] {
    color: $background-color-disabled;
    box-shadow: none;

    cursor: not-allowed;
  }
}

.button--default {
  --lightness-delta: 50%;
  --saturation-delta: -50%;

  &:hover, &[disabled] {
    --lightness-delta-hover: 40%;
    --saturation-delta-hover: -50%;
  }

  &:active {
    --lightness-delta-active: 30%;
    --saturation-delta-active: -50%;
  }
}

.button--primary {
  --saturation-delta: 0%;
  --lightness-delta: 0%;

  color: $background-color;

  &:hover {
    --saturation-delta-hover: -10%;
    --lightness-delta-hover: -10%;
  }

  &:active {
    --saturation-delta-active: -15%;
    --lightness-delta-active: -15%;
  }
}

.button + .button {
  margin-left: $spacing-l;
}

.button__content {
  @include flex-center();

  * + * {
    padding-left: $spacing-s;
  }
}

.button--small {
  box-shadow: none;
}

@media only screen and (max-width: 1024px) {

  .button {
    margin: 0;
    width: 100%;
    border-radius: 0;
    flex-basis: initial;

    box-shadow: none;

    &.button--default {
      --lightness-delta: 60%;
    }
  }

  .button + .button {
    margin-left: 0;
  }

  .button--raised {
    position: fixed;
    bottom: 5em;
    right: $spacing-m;

    width: initial;
    border-radius: 50%;

    min-height: 3em;

    box-shadow: 0 0 3px 1px #999;

    display: block;

    & .button__label {
      display: none;
    }
  }
}

.button--small {
  width: initial;

  padding: $spacing-s;

  background-color: initial;
}
