.m {
  stroke: $m-color-foreground;
  background-color: $m-color-background;
}

.h {
  stroke: $h-color-foreground;
  background-color: $h-color-background;
}

.p {
  stroke: $p-color-foreground;
  background-color: $p-color-background;
}

.f {
  stroke: $f-color-foreground;
  background-color: $f-color-background;
}

.w {
  stroke: $w-color-foreground;
  background-color: $w-color-background;
}

.u {
  background-color: $background-color;
}

.s .cell--sustenance {
  transform: translate(-32%, 20%);
}

.cell--impregnable {
  fill: $impregnable-color;
}

.cell {
  display: block;

  border-color: transparent;
  border-width: $spacing-s;
  border-style: solid;

  border-radius: $spacing-s;


  @include transition-fast();

  &.cell--interactive {
    cursor: pointer;
  }

  &.cell--interactive:hover {
    transform: translateY(-$spacing-s);
    @include standard-shadow();
  }
}

.cell__svg {
  fill: transparent;
}

@each $lord-id in $lords {
  .#{$lord-id} .cell__svg {
    fill: var(--#{$lord-id}-color);
  }
}

@each $lord-id in $lords {
  .cell--sustenance-#{$lord-id} {
    stroke: var(--#{$lord-id}-color);
    fill: var(--#{$lord-id}-color);
  }
}

@each $lord-id in $lords {
  @each $direction-name, $direction-value in $directions {
    .d-#{$direction-name}--#{$lord-id} {
      border-#{$direction-value}-color: var(--#{$lord-id}-color);
    }
  }
}

.cell--icon {
  border: 0;
  transition: none;
  width: 1.5em;

  &:hover {
    box-shadow: none;
    transform: none;
  }
}

.cell--statistics {
  display: block;
  width: 2em;
}

@media only screen and (max-width: $breakpoint) {

  .cell {
    border-width: $spacing-xs;
  }
}
