.controls {
  flex-grow: 0;

  width: 100%;

  @include flex-align-center();
  justify-content: space-between;

  padding: $spacing-m;

  background-color: $primary-color-background;

  box-shadow: 0 1px $spacing-s 0 $shadow-on-background-color;

  z-index: 900;

  @include transition-slow();
}

.controls--top {
  border-top: $spacing-m solid var(--lord-color);
}

.controls--bottom {
  border-bottom: $spacing-m solid var(--lord-color);
}

@media only screen and (max-width: 1024px) {

  .controls {
    width: 100%;
    flex-direction: column;
  }

  .controls--bottom {
    border-bottom: 0;
  }
}
