.controls {
  flex-grow: 0;

  width: 100%;

  @include flex-align-center();
  justify-content: space-between;

  padding: $spacing-l;

  background-color: $primary-color-background;

  box-shadow: 0 1px $spacing-s 0 $shadow-on-background-color;

  z-index: 900;

  @include transition-slow();
}

.controls--top {
  border-top: $spacing-m solid var(--lord-color);
}

.controls--bottom {
  border-bottom: $spacing-m solid var(--lord-color);
}

.controls__menu {
  display: none;
}

.controls__section {
  position: relative;
  @include flex-align-center();

  background-color: $primary-color-background;

  @include transition-fast();

  & > * + * {
    margin-left: $spacing-xxl;
    display: block;
  }
}

.controls__menu-container {
  display: flex;
  justify-content: space-between;
}

.controls__anchor {
  position: relative;
}

@media only screen and (max-width: $breakpoint) {

  .controls {
    width: 100%;
    flex-direction: column;
  }

  .controls__anchor {
    width: 100%;

    & .button--primary {
      display: none;
    }
  }

  .controls--bottom {
    border-bottom: 0;
  }

  .controls__menu-container {
    padding: $spacing-l;
  }

  .controls--top {
    position: absolute;
    padding: 0;
  }

  .controls__section {
    flex-direction: column;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    padding-top: $spacing-l;

    @include standard-shadow();

    & > * {
      width: 100%;
    }

    & > * + * {
      margin-top: $spacing-l;
      margin-left: 0;
    }
  }

  .controls__menu-container {
    width: 100%;
  }

  .controls__menu {
    display: initial;
  }

  [data-collapsed="true"] .controls__section {
    opacity: 0;
    transform: translateY(-10%);
    pointer-events: none;
    width: 100%;
  }

}
