.controls {
  flex-grow: 0;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fafafa;

  box-shadow: 0 1px 4px 0 $shadow-on-background-color;

  z-index: 900;

  transition: 750ms ease-in-out;
}

.controls .cell {
  width: 2rem;
  display: block;
}

.controls--top {
  border-top: 8px solid var(--lord-color);
}

.controls--bottom {
  border-bottom: 8px solid var(--lord-color);
}

.lord__regions {
  display: flex;
}

.lord__region-element {
  display: flex;
  align-items: center;
}

.lord__region-element + .lord__region-element {
  padding-left: 16px;
}

.lord__content {
  padding: 8px;
  display: flex;
  align-items: center;
}

.lord-recap--right {
  direction: rtl;
}

.region-details__content {
  padding: 8px;
  display: flex;
  align-items: center;
  width: 100%;
}
.region-statistics {
  display: flex;
  align-items: center;
}

.passButton {
  margin-left: auto;
}

.region-statistics__element + .region-statistics__element {
  padding-left: 8px;
}
