.header {
  flex-grow: 0;

  width: 100vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fafafa;
  border-top: 8px solid var(--lord-color);

  box-shadow: 0 1px 4px 0 $shadow-on-background-color;

  z-index: 900;

  transition: 750ms ease-in-out;
}

.lord__regions {
  display: flex;
  gap: 16px;
}

.lord__region-element {
  display: flex;
  align-items: center;
  gap: 4px;
}

.lord__content {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 1em;
}

.lord-recap--right {
  direction: rtl;
}
