$m-color-foreground: #c8963e;
$h-color-foreground: #e3c567;
$p-color-foreground: #b6be9c;
$w-color-foreground: #327cad;
$f-color-foreground: #6ca285;

$lords: (
  c1,
  c2,
  c3,
  c4
);

$impregnable-color: #ddcf52;

$directions: (
  north: 'top',
  east: 'right',
  south: 'bottom',
  west: 'left'
);

$text-color: #555;
$border-color: #ccc;

$text-color-disabled: #dfdfdf;
$background-color-disabled: #888;

$background-color: #ededed;
$shadow-color: #999;

$primary-color-background: #fafafa;

$shadow-on-background-color: darken($background-color, 50%);

$m-color-foreground: #c8963e;
$h-color-foreground: #e3c567;
$p-color-foreground: #b6be9c;
$w-color-foreground: #327cad;
$f-color-foreground: #6ca285;

$spacing-unit: 1px;
$spacing-xxs: 1 * $spacing-unit;
$spacing-xs: 2 * $spacing-unit;
$spacing-s: 4 * $spacing-unit;
$spacing-m: 8 * $spacing-unit;
$spacing-l: 16 * $spacing-unit;
$spacing-xl: 32 * $spacing-unit;
$spacing-xxl: 64 * $spacing-unit;

$spacing-s-vw: 15vw;
$spacing-m-vw: 30vw;
$spacing-l-vw: 60vw;

$saturation-base: 50%;
$lightness-base: 40%;

@mixin lord-color($variant: "") {
  @if ($variant != "") {
    --lord-color-#{$variant}: hsl(
        var(--lord-hue),
        calc(#{$saturation-base} + var(--saturation-delta-#{$variant}, 0%)),
        calc(#{$lightness-base} + var(--lightness-delta-#{$variant}, 0%))
    );
  } @else {
    --lord-color: hsl(var(--lord-hue), calc(#{$saturation-base} + var(--saturation-delta, 0%)), calc(#{$lightness-base} + var(--lightness-delta, 0%)));
  }
}

.colorful {
  @include lord-color();

  @each $lord-id in $lords {
    --#{$lord-id}-color: hsl(var(--#{$lord-id}-hue), var(--saturation-delta, #{$saturation-base}), var(--lightness-delta, #{$lightness-base}));
  }
}
