.lord-ranking {
  display: flex;
}

.lord-ranking__dropdown {
  position: absolute;
  bottom: 100%;
  right: 0;

  z-index: 800;

  @include lord-color();

  border-top: $spacing-m solid var(--lord-color);
  padding-top: $spacing-m;

  @include transition-fast();

  &[data-collapsed="true"] {
    opacity: 0;
    transform: translateY(10%);
    pointer-events: none;
  }
}

.lord-ranking__list {
  padding-left: $spacing-m;
}

.lord-ranking__lord + .lord-ranking__lord {
  padding-top: $spacing-l;
}

@media only screen and (max-width: $breakpoint) {

  .lord-ranking__dropdown {
    left: 0;
   }

  .lord-ranking {
    width: 100%;
    justify-content: space-between;
  }
}
