.lord-statistics {

  @include flex-align-center();

  .lord-statistics__data {
    padding-left: $spacing-l;
    padding-right: $spacing-l;
    display: flex;
  }

  .lord-statistics__element {
    @include flex-align-center();
    padding-left: $spacing-s;
    padding-right: $spacing-s;
  }
}

.lord-statistics--right {
  direction: rtl;
}

@media only screen and (max-width: 1024px) {

  .lord-statistics--right {
    direction: ltr;
  }
}
