.lord-ranking {
  display: flex;
}

.lord-ranking__dropdown {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  position: absolute;
  bottom: 0;
  right: 0;

  background-color: $primary-color-background;

  border-bottom: var(--lord-color) solid $spacing-m;

  padding: $spacing-l;

  z-index: 800;

  box-shadow: 0 1px 4px 0 $shadow-color;

  @include transition-fast();

  &[data-collapsed="true"] {
    opacity: 0;
    transform: translateY(10%);
    pointer-events: none;
  }
}

.lord-ranking__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end ;

  padding-left: $spacing-m;
}

.lord-ranking__lord + .lord-ranking__lord {
  padding-top: $spacing-l;
}

@media only screen and (max-width: 1024px) {

  .lord-ranking__dropdown {
    left: 0;
   }

  .lord-ranking {
    width: 100%;
    justify-content: space-between;
  }
}
