.lord-statistics {

  @include flex-align-center();

  .lord-statistics__data {
    padding-left: $spacing-l;
    display: flex;
  }

  .lord-statistics__element {
    @include flex-align-center();
  }

  .lord-statistics__element + .lord-statistics__element {
    padding-left: $spacing-s;
  }
}

.lord-statistics__name {
  max-width: 15vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
