.modal-container {
  @include flex-center();
  @include full-screen();

  visibility: hidden;
  opacity: 0;

  z-index: 950;

  background-color: rgba(0, 0, 0, .8);

  @include transition-fast();

  &:target {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

}

.modal {
  background-color: $primary-color-background;

  display: flex;
  flex-direction: column;
}

.modal--l {
  width: $spacing-l-vw;
  height: 80vh;
}

.modal--m {
  width: $spacing-m-vw;
  height: 80vh;
}

.modal--s {
  width: $spacing-s-vw;
}

.modal__header {
  display: flex;
  justify-content: space-between;

  padding: $spacing-l;

  flex-grow: 0;

  @include lord-color();

  border-top: $spacing-m solid var(--lord-color);
}


.modal__container {
  flex-grow: 1;

  padding: $spacing-l;

  overflow: auto;
}

@media only screen and (max-width: $breakpoint) {

  .modal--s, .modal--m, .modal--l {
    width: 100%;
    height: 100%;
  }

  .modal.modal--no-overflow {
    .modal__container {
      overflow: hidden;
    }
  }
}
