.worlds {
  @include flex-align-center();
  flex-direction: column;
}

.worlds__card {
  @include flex-align-center();
  flex-direction: column;

  width: 100%;

  text-decoration: none;
  color: $text-color;
}

.worlds__card + .worlds__card {
  margin-left: 0;
  margin-top: $spacing-l;
}

.worlds__preview {
  background-color: $primary-color-background;
  display: grid;
  grid-template-rows: repeat(var(--grid-dimension, 8), 1fr);
  grid-template-columns: repeat(var(--grid-dimension, 8), 1fr);

  width: 100%;

  padding: $spacing-s;

  & .cell {
    border: none;

    transition: initial;
    cursor: inherit;

    &:hover {
      transform: initial;
      box-shadow: none;
    }
  }

  @include transition-fast();

  &:hover {
    transform: translateY(-$spacing-s);
    @include standard-shadow();
  }
}

.worlds__title {
  @include flex-align-center();
  justify-content: space-between;

  width: 100%;

  margin-bottom: $spacing-l;
}


@media only screen and (max-width: $breakpoint) {

}

.create-button {
  margin-bottom: $spacing-l;
}
