.ranking {

  display: flex;

  & .ranking__dropdown {
    position: absolute;
    bottom: 100%;
    right: 0;

    z-index: $z-index-controls;

    @include lord-color();

    padding-top: $spacing-m;

    border-top: $spacing-m solid var(--lord-color);

    @include transition-fast();

    box-shadow: 0 $spacing-m 0 0 $primary-color-background, 0 $spacing-xxs $spacing-s 0 $shadow-on-background-color;

    &[data-collapsed="true"] {
      opacity: 0;
      transform: translateY(10%);
      pointer-events: none;
    }
  }

  & .ranking__container {
    padding-bottom: $spacing-l;
    padding-left: $spacing-l;
    padding-right: $spacing-l;
  }

  & .ranking__table {

    & td, th {
      vertical-align: middle;
      text-align: right;
    }

    & .ranking__cell {
      @include flex-align-center();
      padding: $spacing-s;
    }
  }

  & .ranking__header {
    @include flex-align-center();
    justify-content: space-between;

    * + * {
      margin-left: $spacing-s;
    }
  }

  & .ranking__toggle {
    margin-right: $spacing-l;
    flex-grow: 0;
  }

}

@media only screen and (max-width: $breakpoint) {
  .ranking__table {
    width: 100%;
  }

  .ranking {
    width: 100%;
  }

  .ranking__name {
    display: none;
  }

  .ranking__dropdown {
    left: 0;
  }
}
