.region-statistics {
  @include flex-center();
}

.region-statistics__element {
  @include flex-align-center();
}

.region-statistics--fill {
  flex-basis: 40%;
}

.region-statistics__element + .region-statistics__element {
  padding-left: $spacing-m;
}

@media only screen and (max-width: 1024px) {

  .region-statistics {
    display: none;
  }
}
