.win {
  @include flex-align-center();
  flex-direction: column;
}

.win__element {
  @include flex-center();
}

.win__element + .win__element {
  margin-top: $spacing-l;
}

.win__icon {
  width: $spacing-s-vw;
}

@media only screen and (max-width: 1024px) {
  .win__icon {
    width: $spacing-l-vw;
  }
}
