<div class="wrapper" (document:keydown.space)="gameService.pass()">
  <se-header class="controls  controls--top"
             [lord0]="game.lords[0]"
             [lord1]="game.lords[1]"
             [style.--lordColor]="(gameService.lord$ | async).color"></se-header>
  <div class="board-container">
    <main
      (mouseleave)="currentRegion = undefined"
      class="board" [seGrid]="dimension()" sePinchAndZoom>
      <se-cell [seRegion]="region"
               [sustenance]="region.sustenance"
               [color]="gameService.lordAt(region).color"
               [i]="i"
               (press)="gameService.settle(region)"
               (tap)="action(region)"
               (mouseenter)="actionEnter(region, $event)"
               (contextmenu)="$event.preventDefault()"
               [impregnable]="region.impregnable"
               class="cell" *ngFor="let region of game.board.regions; let i = index" [seed]="game.board.world[i]"></se-cell>
    </main>
    <div class="background">
      <se-cell *ngFor="let seed of backSeeds" [seed]="seed"></se-cell>
    </div>
  </div>
  <se-footer class="controls  controls--bottom" [region]="currentRegion" [lord]="gameService.lord$ | async"
             [style.--lordColor]="(gameService.lord$ | async).color"></se-footer>
</div>
