<div class="wrapper" (document:keydown.space)="gameService.pass()">
  <se-controls side="top" [attr.data-collapsed]="collapsed">
    <div class="controls__menu-container">
      <se-logo></se-logo>
      <button class="button  button--default  button--small  controls__menu" (click)="toggleMenu()">
        <se-cell class="cell  cell--icon" seed="r"></se-cell>
      </button>
    </div>
    <div class="controls__anchor">
      <div class="controls__section">
        <se-actions [lord]="gameService.lord$ | async" (selection)="toggleMenu()"></se-actions>
        <se-support (selection)="toggleMenu()"></se-support>
      </div>
    </div>
  </se-controls>
  <div class="board-container">
    <main
      class="board" [seGrid]="dimension()" sePinchAndZoom>
      <se-cell [seRegion]="region"
               [sustenance]="region.sustenance"
               [id]="gameService.lordAt(region).id"
               [i]="i"
               (press)="gameService.settle(region)"
               (tap)="action(region)"
               (mouseenter)="actionEnter(region, $event)"
               (contextmenu)="$event.preventDefault()"
               [impregnable]="region.impregnable"
               class="cell" *ngFor="let region of game.board.regions; let i = index"
               [seed]="game.board.world[i]"></se-cell>
    </main>
    <div class="background">
      <se-cell *ngFor="let seed of backSeeds" [seed]="seed"></se-cell>
    </div>
  </div>
  <se-controls side="bottom">
    <se-region-statistics style="flex-grow: 1" [lord]="gameService.lord$ | async"
                          [region]="currentRegion"></se-region-statistics>
    <div style="flex-grow: 0; display: flex; width: 100%; justify-content: flex-end;">
      <div class="lord-ranking" [class.is-active]="!rankingCollapsed">
        <button class="button  button--default  button--small" (click)="toggleRanking()">
          <div class="button__content">
            <se-cell class="cell  cell--icon" seed="e"></se-cell>
          </div>
        </button>
        <div class="lord-ranking__list">
          <se-lord-statistics class="lord-ranking__lord" [lord]="lord"
                              *ngFor="let lord of (game.lords | seRank)"></se-lord-statistics>
        </div>
      </div>
      <button class="button  button--default  button--small" (click)="toggleRanking()">
        <div class="button__content">
          <se-cell class="cell  cell--icon" seed="k"></se-cell>
        </div>
      </button>
      <se-lord-statistics class="lord-ranking__lord" [lord]="gameService.lord$ | async"></se-lord-statistics>
    </div>
  </se-controls>
</div>
