<div class="wrapper" (document:keydown.space)="gameService.pass()">
  <se-controls side="top">
    <se-logo></se-logo>
    <se-actions [lord]="gameService.lord$ | async"></se-actions>
    <se-support></se-support>
  </se-controls>
  <div class="board-container">
    <main
      (mouseleave)="currentRegion = undefined"
      class="board" [seGrid]="dimension()" sePinchAndZoom>
      <se-cell [seRegion]="region"
               [sustenance]="region.sustenance"
               [color]="gameService.lordAt(region).color"
               [i]="i"
               (press)="gameService.settle(region)"
               (tap)="action(region)"
               (mouseenter)="actionEnter(region, $event)"
               (contextmenu)="$event.preventDefault()"
               [impregnable]="region.impregnable"
               class="cell" *ngFor="let region of game.board.regions; let i = index"
               [seed]="game.board.world[i]"></se-cell>
    </main>
    <div class="background">
      <se-cell *ngFor="let seed of backSeeds" [seed]="seed"></se-cell>
    </div>
  </div>
  <se-controls side="bottom">
    <se-lord-statistics [lord]="game.lords[0]"></se-lord-statistics>
    <se-region-statistics [lord]="gameService.lord$ | async" [region]="currentRegion"></se-region-statistics>
    <se-lord-statistics [lord]="game.lords[1]" side="right"></se-lord-statistics>
  </se-controls>
</div>
