<div class="modal-container" id="{{name}}">
  <aside class="modal  modal--{{size}}" [class.modal--no-overflow]="!overflow">
    <header class="modal__header" [seCurrentLordColor]="gameService.lord$ | async">
      <se-logo></se-logo>
      <a href="#" class="button  button--default  button--small">
        <se-cell class="cell  cell--icon" seed="exit"></se-cell>
      </a>
    </header>
    <div class="modal__container">
      <article>
        <ng-content></ng-content>
      </article>
    </div>
  </aside>
</div>
