<table class="ranking__table">
  <tbody>
  <tr *ngFor="let lord of lords; let i = index">
    <th>
      <div class="ranking__header">
        <span *ngIf="showIndex">{{i + 1}}</span>
        <strong class="ranking__name">{{lord.name}}</strong>
      </div>
    </th>
    <td>
      <se-ranking-cell seed="s" [quantity]="lord.settlements()"></se-ranking-cell>
    </td>
    <td>
      <se-ranking-cell seed="coin" [quantity]="lord.treasure"></se-ranking-cell>
    </td>
    <td>
      <se-ranking-cell seed="collect" [quantity]="lord.worth()"></se-ranking-cell>
    </td>
    <td>
      <se-ranking-cell class="{{lord.id}}" seed="debt" [quantity]="lord.debt()"></se-ranking-cell>
    </td>
  </tr>
  </tbody>
</table>
